# No .o files
*.o

# Binary files
bin/*

# Ignore analysis
analysis

# Xcode project
*.xcodeproj

# Other git files
*/.git

# DS_Store files
.DS_Store

# Python comiled files
*.pyc

# tmp files
*.swp

# Ouput files
*.png
*.pdf
*.dat
*.csv
*.out

# PBS files
*.mak
nodes.txt
*.out

# LaTeX output
output/.output
*.log
*.aux

# Include all in test
!test/*

# Backup files
*.back

# Settings
settings
