include system

# Molecule Settings {{{
# -----------------

# Shape (Snowman|Trimer)
# <<<LOOP>>>
shape=Snowman

# Radius (0,1]
# <<<LOOP>>>
radius = 0.637556

# Dist (1+radius|1.0)
# <<<LOOP>>> <<<COMPUTE>>>
dist=1+radius 1.0

# Crystal unit cell
# (pg|p2|p2gg) will only run the states where there are the corresponding svg files in
# the ./crystals directory
# <<<LOOP>>>
crys=

# Solid liquid interface options (1|2)
# 1 -> x axis, 2 -> y axis doubles number of molecules
# <<<LOOP>>>
boundary=

# Angle in degrees (0,180]
# <<<LOOP>>>
theta=
# !!! Not Tested
# Size ratio of two small particles in trimer
ratio=

# }}}
# Simulation Settings {{{
# -------------------

# Number of steps
steps = 160000
# Print every <N> steps, 0 produces logarithmic progression
print = 160
# Number of steps in equilibration (n >= 1)
equil_steps = 80000
# Number of molecules (won't be exact, tries to keep simulation square)
n_mol = 2500

# Dependent on previous temps
t_dep=true

# Can set a temp for each d (temp_$d)
# <<<LOOP>>>
temp = 3.50 2.50 1.50 1.00 0.50
#temp_1.0 = 
#temp_1.637556 = 1.60 1.70 1.80 1.85 1.90 1.95 2.00 2.10 2.20

# Pressure - Leave constant temperature changes properties
pressure = 13.5

# Density of intitial high temperture state
# Needs to be small enough such that no particles can overlap
# Only important when generating high temperature state
density = 0.015625

# }}}
# Analysis Settings {{{
# ---------------------

# Contact Arguments
# -f        Fast - only first last and key frames
# -q        Include quenched configuration in anlysis (quench is last frame when using -f)
# -m        Ouput movie
# -d        Distance moved in quench (-q implied)
# -s <n>    Step size - only every n frames and key frames (default 1)
# -k <n>    Key frame rate - add key frame every n frames (default 20)
# -r        Regio data, regional relaxation data
# -t        Time dependent neighbour data, takes far longer to compute

contact_args= -t

# }}}
# Plot Settings {{{ 
# -------------

# Options are (Step|Temp|Pxx|Pyy|Pxy|TotEng|KinEng|PotEng|Enthalpy|Density|P|LX|Ly|Xy)
# Need to update gnuplot/properties.plot when changing
thermo=PotEng TotEng Density Press Xy Pxx Pyy

# Ouput files to plot
# (alpha | angle | com | crys | data | frame | hexatic | hist | moved | msd | order |
#  property | radial | regio | rotations | rot-diff | short-order-hist | short-order | struct)

to_plot = frame radial short-order-hist

# }}}
# Path variables {{{
# --------------

# Location of intermediate output files (scratch space)
# Needs a lot (GBs) of space with fast access

d_name=cool

ifeq ($(SYS_NAME), silica)
    PREFIX := /tmp3m/mram5995/$(d_name)
	# Directory Makefile is located
	my_dir := $(HOME)/make_$(d_name)
else
    PREFIX := $(HOME)/scratch/$(d_name)
	my_dir := $(HOME)/make
endif


# }}}

# vim:filetype=make:foldmethod=marker:foldlevel=0
